extend _layout
block vars
	- var title = 'Resources'

//- block localCSS
	
//- block localJS

block content
	section.resources
		.container
			.row
				.col-lg-12.text-center
					h2.section-heading List of Resources
					h3.section-subheading.text-muted Just some things we've come across in our travels. Let us know if you find something that should be on this list!
			.row
						
			