/**
 * Main site css
 */

ul.project-members {
	list-style: none;
	padding-left: 0px;
}

/*************************************
 * Utility
 */

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
